<!DOCTYPE html>
<html lang="en">

<head>
  <title> <%= site_title %> </title>
  <%- include('unique-section/head-og-tags', {og_tags : og_tags}) %>
  <!-- Start Head Unique Section -->
  <%- include('unique-section/head', {favicon : favicon, branding : branding, facebook_pixel_tracking_id :
      facebook_pixel_tracking_id, google_analytics_tracking_id : google_analytics_tracking_id}) %>

  <!-- End Head Unique Section -->
  <link href="https://fonts.googleapis.com/css2?family=<%= (is_font_family && is_font_family !== "") ? is_font_family.replace('-', '+') : 'Nunito+Sans' %>" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://wlada.github.io/vue-carousel-3d/js/vue.js"></script>
  <script src="https://wlada.github.io/vue-carousel-3d/js/carousel-3d.umd.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://kit.fontawesome.com/ee531d6919.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <link href="/css/page-builder.css" rel="stylesheet">

  <!-- Start Head With Analytics Section -->
  <%- include('unique-section/head-analytics.ejs', {tracking : tracking_list}) %>
  <!-- End Head With Analytics Section -->
  <%- include('page-builder/head-dynamic-style.ejs', {
    button_style : button_style,
    is_font_family : is_font_family
  }) %>

  <script>
    $(document).ready(function() {
      if (contentAgeLimit === 1 || contentAgeLimit === 18 || contentAgeLimit === 21 || contentAgeLimit === 25) {
        $('.section-init').hide();
        $('.sensitive-age-modal').show();
      } else {
        $('.section-init').show();
        $('.sensitive-age-modal').hide();
      }
    });
  </script>
</head>

<%- pagebuilderThemes(theme_selected, is_background, opacity) %>

<body>
  <div class="sensitive-age-modal" style="display: none;">
    <div class="popup-overlay">
      <!--Creates the popup content-->
      <div class="popup-content">
        <img src="sprite/svg/eye-off-sharp.svg" alt="hide" width="22px" height="22px">
        <h2>Sensitive Content</h2>
        <% if (content_age_limit === 1) { %>
        <h4 class="font-weight-normal">Confirm that you are willing to see potentially sensitive content.
        </h4>
        <% } else { %>
        <h4 class="font-weight-normal">Confirm that you are of legal age to view this content.</h4>
        <% } %>
        <button class="accept-btn" onclick='proceedSuccess()'>
          <% if (content_age_limit === 1) { %>
          I Confirm
          <% } else { %>
          I am <%= content_age_limit %> or older
          <% } %>
        </button>
        <div class="decline" onclick='closePopup()'>
          <% if (content_age_limit === 1) { %>
          Go Back
          <% } else { %>
          I am under <%=  $content_age_limit  %>
          <% } %>
        </div>
      </div>
    </div>
    <% if (branding === 1) { %>
    <div class="footer">
      <a class="text-decoration-none footer-link" href="https://linkjoy.io/?utm_source=LNKJ&utm_medium=Footer&utm_campaign=LNKJ" target="_blank" rel="noopener noreferrer">Powered by <img src="sprite/svg/linkjoy-header-logo.svg" alt="LINKJOY" height="25px">
      </a>
    </div>
    <% } %>
  </div>

  <!-- <h1>Hello World</h1> -->
  <!--~ UNCOMMENT THIS LATER -->
  <!-- <div class=`section-init <%= button_style['class'] ? button_style['class'] : '' %>` style="display: none;"> -->
  <div class="section-init  <%= button_style['class'] ? button_style['class'] : '' %>">
    <div class=" container-customize mx-auto">
      <!-- //~ UNCOMMENT THIS LATER -->
      <!-- <div class="preloader">
        <div class="preloader-custom-gif">
          <div class="loader"></div>
        </div>
      </div> -->
      <div id="el-main-section-container-inner">
        <!--End profile code -->
        <%- include('page-builder/profile-section.ejs', {profile : profile, getValidURL : getValidUrl}) %>
        <!--End profile code -->
        <% const image_carousel = false; %>
        <% if (pagebuilder && pagebuilder.length !== 0) { %>
        <% pagebuilder.forEach((pagebuilder_body, key) => { %>
        <!--Start subtitle text code -->
        <%- include('page-builder/subtitle-text-section.ejs', { stripTags : stripTags, blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End subtitle text code -->

        <!--Start button text code -->
        <%- include('page-builder/button-text-section.ejs', {
                            blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            giveDeepLinkUrl : giveDeepLinkUrl,
                            useragent : useragent,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End button text code -->

        <!--Start i-Frame code -->
        <%- include('page-builder/iframe-section.ejs', {blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End i-Frame code -->

        <!--Start social link code -->
        <!-- TODO: jaimin - ('page-builder.social-links-section' ) Yet to be created -->
        <!--End social link code -->

        <!--Start instagram feed code -->
        <!-- TODO: jaimin - ('page-builder.instagram-feed-section' ) Yet to be created -->
        <!--End instagram feed code -->

        <!--Start youtube videos code -->
        <!-- TODO: jaimin - ('page-builder.youtube-video-section' ) Yet to be created -->
        <%- include('page-builder/youtube-video-section.ejs', {
                useragent : useragent,
                            blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            giveDeepLinkUrl : giveDeepLinkUrl,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End  youtube videos code -->

        <!--Start medium blog -->
        <!-- TODO: jaimin - ('page-builder.medium-feed-section' ) Yet to be created -->
        <!--End medium blog -->

        <!--Start Video Player -->
        <!-- TODO: jaimin - ('page-builder.video-player-section' ) Yet to be created -->
        <%- include('page-builder/video-player-section.ejs', {
                            blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End Video Player -->

        <!--Start delimiter code -->
        <!-- TODO: jaimin - ('page-builder.delimiter-section' ) Yet to be created -->
        <!--End delimiter code -->

        <!--Start image carousel code -->
        <!-- TODO: jaimin - ('page-builder.image-carousel-section' ) Yet to be created -->
        <!--End image carousel code -->

        <!--Start dynamic blog -->
        <!-- TODO: jaimin - ('page-builder.dynamic-feed-section' ) Yet to be created -->
        <!--End dynamic blog -->

        <!--Start email or sms form -->
        <!-- TODO: jaimin - ('page-builder.email-sms-form-section' ) Yet to be created -->
        <!--End email or sms form -->

        <!--Start messenger block code -->
        <!-- TODO: jaimin - ('page-builder.messenger-links-section' ) Yet to be created -->
        <!--End messenger block code -->

        <!--Start support form -->
        <!-- TODO: jaimin - ('page-builder.support-form-section' ) Yet to be created -->
        <!--End support form -->

        <!--Start button text code -->
        <!-- TODO: jaimin - ('page-builder.button-text-group-section' ) Yet to be created -->
        <!--End button text code -->

        <!--Start Add to Contacts code -->
        <!-- TODO: jaimin - ('page-builder.add-to-contacts-section' ) Yet to be created -->
        <%- include('page-builder/add-to-contacts-section.ejs', {
                            blockHideOrShowWithSchedule : blockHideOrShowWithSchedule,
                            key : key,
                            pagebuilder_body : pagebuilder_body}) %>
        <!--End Add to Contacts code -->

        <!--Start Html Code -->
        <!-- TODO: jaimin - ('page-builder.html-block-section' ) Yet to be created -->
        <!--End Html Code -->
        <% }) %>
        <% } %>
        <!--Start Custom script code -->
        <div id="custom-script-class"></div>
        <!--End Custom script code -->
      </div>
    </div>
  </div>

</body>

<!-- Start Footer Script With Analytics Section -->
<!-- TODO: jaimin - ('unique-section.footer-analytics' ) Yet to be created -->
<!-- End Footer Script With Analytics Section -->

<!-- Start Footer Unique Script Onload Section -->
<!-- TODO: jaimin - ('unique-section.footer-script' ) Yet to be created -->
<!-- End Footer Unique Script Onload Section -->

<!-- Start Footer Script Onload Section -->
<!-- TODO: jaimin - ('page-builder.footer-script' ) Yet to be created -->
<!-- End Footer Script Onload Section -->

</html>